<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Birth-date Calculator</title>
    <link href = "../static/style32.css" rel="stylesheet">
</head>

<body>

    <div class = "main">
        <div class="black"></div>
        <div class = "heading">Hello=)</div>
        <div class = "text">Enter your birth date</div>
        <form action="/submit" method="get" name = "date">
            <div class="field">
                <input type="date" id="input" name = "date">
            </div>
            <div class="buttondiv">
                <input id="button" type="submit" value="Find">
            </div>

        </form>
    </div>
    <ol>
        {% for value in result %}
            <li>
                <b class = "personName">{{ value.get_name()}}</b>
                <b> born in </b>
                <b class = "personBday">{{ value.get_birthdate()}}</b>
                <b>, is a </b>
                <b class = "personInfo">{{ value.get_information()}}</b>
                <b> with </b>
                <b class = "personIndex">{{ value.get_index()}}</b>
                <b> all time Wikipedia views </b>
            </li>
        {% endfor %}
    </ol>

    </div>
    <script type="text/javascript" src="../static/js9.js"></script>
</body>
</html>